<div class="container card mt-5">

  <br/>
  
  <h4>New employee</h4>

  <div class="container mt-3">   

    <form #employeeForm="ngForm" (ngSubmit)="getEmployeeData(employeeForm.value)">

      <div class="mb-3 mt-3">
        <label class="form-label">First name:</label>
        <input class="form-control" type="text" placeholder="First name" name="firstName" ngModel />
      </div>

      <div class="mb-3 mt-3">
        <label class="form-label">Middle name:</label>
        <input class="form-control" type="text" placeholder="Middle name" name="middleName" ngModel />
      </div>

      <div class="mb-3 mt-3">
        <label class="form-label">Last name:</label>
        <input class="form-control" type="text" placeholder="Last name" name="lastName" ngModel />
      </div>

      <div class="mb-3 mt-3">
        <label class="form-label">Birth date:</label>
        <input class="form-control" type="date" placeholder="Birthdate" name="birthDate" ngModel />
      </div>

      <div class="mb-3 mt-3">
        <label class="form-label">Position:</label>
        <input class="form-control" type="text" placeholder="Position" name="position" ngModel />
      </div>

      <button type="submit" class="btn btn-primary">Create new employee</button>

    </form>

    <div class="alert alert-dark" *ngIf="display" [class.bg-info]="display">
      {{ message }}
    </div>
    
  </div>

</div>